doctype html 
html 
    head 
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Natours | Exciting tours for adventurous people
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')


    body
        //- Header
        include _header

        //-  Content
        main.main 
        h1 = tour

        // Footer
        include  _footer


         
